:root {
  cursor: auto;
}

form button {
  width: 100%;
}

form [role="group"] {
  width: 100%;
}

[role="group"] select {
  width: auto;
  min-width: 10rem;
}

[role="group"] select + input,
input[type="number"] {
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.dropdown button {
  width: 100%;
  text-align: left;
}
